<div id="resultscontainer">
  <span id="result">You've been logged out.</span><br /><br />
  <a id="login" href="/">Click here to log in</a>
</div>

<style>
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  #voicecontainer {
    margin: 15% auto 0;
    width: 27px;
    height: 40px;
  }
  #song {
    cursor:pointer;
    margin:10px;
    color:transparent;
    background-color:transparent;
    border:0;
    width:15px;
    -webkit-transform: scale(3.0, 3.0);
    -moz-transform: scale(3.0, 3.0);
    -ms-transform: scale(3.0, 3.0);
    transform: scale(3.0, 3.0);
  }
  #resultscontainer {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    color: #888;
  }
  .logout, .logout a {
    font-size: 12px;
    text-decoration: none;
    color: #aaa;
    text-align: right;
  }
  #albumcontainer {
    text-align: center;
  }
  #result a {
    text-decoration: none;
    color: #888;
  }
  #justplayit {
    margin-top:;
    font-size:18px;
    color: #ccc;
  }
  #login {
    font-size: 18px;
    text-decoration: none;
    color: #888;
  }
</style>